/* Place CSS styles here */
.Blue-Body{
  background-color: rgb(255, 255, 255);
}

.Blue-nav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.Blue-nav2 {
  display: flex;
  margin-top: -70px;
  margin-right: 50px;
  justify-content: right;
}


/* Style the links inside the navigation bar */
.Blue-nav2 a {
  float: right;
  display: block;
  color: rgb(36, 120, 159);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:Arial;
  text-align: center;
}


/* Change the color of links on hover */
.Blue-nav2 a:hover {
  color: rgb(22, 76, 100);;
}

.Blue-logo{
  display: flex;
  width: 100%;
  align-items: left;
}

.Blue-title {
  background: 
  linear-gradient(
    rgba(52, 52, 52, 0.55), 
    rgba(52, 52, 52, 0.55)
  ),
  /* bottom, image */
  url(../img/Girlsjewelry.gif);

display: flex;
align-items: center;
justify-content: center;
color: white;
text-shadow: 1px 1px 1px #000;
min-height: 50vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin-top: 20px;
}


body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial; 
}

@media (max-width: 600px)  {
  body {
    background-color: #ffffff;
  }
}

@media (max-width: 480px) {
  body {
    background-color: #ffffff;
  }
}
  
h1 {
  font-family: Helvetica;
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    display: flex;
   text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 80px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      display: flex;
     text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      }
    }
    
h2{
  color: rgb(36, 120, 159);
  font-family: Arial;
  font-weight: 400;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

@media (max-width: 600px)  {
h2{
  font-size: 15px;
 }
}

@media (max-width: 480px) {
h2{
    font-size: 15px;
   }
  }

p{
  font-family: Arial;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  color: black;
}

@media (max-width: 600px)  {
  p{
    font-size: 12px;
   }
  }
  
  @media (max-width: 480px) {
  p{
      font-size: 12px;
     }
    }

    .ad-desc{
      color: #ffffff;
      font-size: 25px;
    }

    .ad-container{
        display: flex;
        background: rgb(109, 174, 203);
        margin-top: -40px;
        margin-bottom: 70px;
        width: 100% ;
        height: 300px;
    }

.ad-wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
@media (max-width: 600px) {
.ad-wrapper{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

  @media (max-width: 480px) { 
.ad-wrapper{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

  /* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

@media (max-width: 600px) {
.slideshow-container{
    max-width: 300px;
  }
  }
  
  @media (max-width: 480px) {
.slideshow-container{
    max-width: 300px;

  }
    }

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color:#50aebd;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
 
@media (max-width: 600px) {
  .prev, .next {
    font-size: 10px;
  }
  }

@media (max-width: 480px) {
  .prev, .next {
    font-size: 10px;
  }
  }
  

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: Arial;
  color:#50aebd;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media (max-width: 600px) {
  .numbertext {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .numbertext {
    font-size: 10px;
  }
}
/* The dots/bullets/indicators */
.dot {
  cursor: auto;
  height: 20px;
  width: 20px;
  background-color:#3f9599;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media (max-width: 600px) {
  .dot {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 480px) {
  .dot {
    height: 10px;
    width: 10px;
  }
}

.dot:hover {
  background-color: #286a69;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.star1{
  margin-left: -230px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.star1{
  margin-left: -230px;
 }
}

@media (max-width: 480px) {
  .star1{
    margin-left: -230px;
   }
  }

.tmbn {
  margin-left: -670px;
  color: rgb(36, 120, 159);
  }

@media (min-width: 481px) and (max-width: 767px)  {
.tmbn {
 margin-left: -670px;
 color: rgb(36, 120, 159);
 }
}

@media (max-width: 480px) {
  .tmbn {
   margin-left: -670px;
   color: rgb(36, 120, 159);
   }
  }

  
.wave{
  margin-left: -200px;
  margin-top: 166px; 
 } 

@media (min-width: 481px) and (max-width: 767px)  {
.wave{
  margin-left: -200px;
  margin-top: 166px; 
 } 
}

@media (max-width: 480px) {
  .wave{
    margin-left: -200px;
    margin-top: 166px; 
   } 
  }

.star2{
  margin-left: -200px;
  margin-bottom: -40px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.star2{
  margin-left: -200px;
  margin-bottom: -40px;
 }
}

@media (max-width: 480px) {
  .star2{
    margin-left: -200px;
    margin-bottom: -40px;
   }
  }

.gwb {
  margin-left: -110px;
  margin-top: 60px;
  color: rgb(36, 120, 159);
 }

@media (min-width: 481px) and (max-width: 767px)  {
.gwb {
  margin-left: -110px;
  margin-top: 60px;
  color: rgb(36, 120, 159);
 }
}

@media (max-width: 480px) {
  .gwb {
    margin-left: -110px;
    margin-top: 60px;
    color: rgb(36, 120, 159);
   }
  }

.two {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  color: black;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.two {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  color: black;
 }
}

@media (max-width: 480px) {
  .two {
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    color: black;
   }
  }

.bracelet{
  margin-left: 30px;
  margin-top: 160px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.bracelet{
  margin-left: 30px;
  margin-top: 160px;
 }
}

@media (max-width: 480px) {
  .bracelet{
    margin-left: 30px;
    margin-top: 160px;
   }
  }

.star3{
  margin-left: -235px;
  margin-bottom: -48px;
 }
 
@media (min-width: 481px) and (max-width: 767px)  {
.star3{
  margin-left: -235px;
  margin-bottom: -48px;
 }
}

@media (max-width: 480px) {
  .star3{
    margin-left: -235px;
    margin-bottom: -48px;
   }
  }

.bcc {
  margin-left: 60px;
  margin-top: 70px;
  color: rgb(36, 120, 159);
 }

@media (min-width: 481px) and (max-width: 767px)  {
.bcc {
  margin-left: 60px;
  margin-top: 70px;
  color: rgb(36, 120, 159);
 }
}

@media (max-width: 480px) {
  .bcc {
    margin-left: 60px;
    margin-top: 70px;
    color: rgb(36, 120, 159);
   }
  }

.three {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  color: black;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.three {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  color: black;
 }
}

@media (max-width: 480px) {
  .three {
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5px;
    color: black;
   }
  }


.ad{
  color: rgb(208, 242, 255);
  margin-top: -20px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.ad{
  color: rgb(208, 242, 255);
  margin-top: -20px;
 }
}

@media (max-width: 480px) {
  .ad{
    color: rgb(208, 242, 255);
    margin-top: -20px;
   }
  }

.four{
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

@media (min-width: 481px) and (max-width: 767px)  {
.four{
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
 }
}

@media (max-width: 480px) {
  .four{
      font-family: Arial;
      text-align: center;
      font-weight: 500;
      font-size: 50px;
      margin-top: 30px;
      color: rgb(255, 255, 255);
   }
  }



@media (min-width: 481px) and (max-width: 767px)  {
.slogan-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
 }
}

@media (max-width: 480px) {
  .slogan-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    gap: 10px;
   }
  }

.blue{
  margin-top: -50px;
  margin-left: 400px;
  color:rgb(74, 143, 183);
 }

@media (min-width: 481px) and (max-width: 767px)  {
.blue{
  margin-top: -50px;
  margin-left: 400px;
  color:rgb(74, 143, 183);
 }
}

@media (max-width: 480px) {
  .blue{
    margin-top: -50px;
    margin-left: 400px;
    color:rgb(74, 143, 183);
   }
  }

.wave1 {
  display: flex;
  transform: scaleX(-1);
  margin-top: 10px;
  margin-left: 570px;
  margin-right: -370px;
 }

 @media (min-width: 481px) and (max-width: 767px)  { 
  .wave1 {
    display: flex;
    transform: scaleX(-1);
    margin-top: 10px;
    margin-left: 570px;
    margin-right: -370px;
   }
  }

  @media (max-width: 480px) {
.wave1 {
  display: flex;
  transform: scaleX(-1);
  margin-top: 10px;
  margin-left: 570px;
  margin-right: -370px;
 }
}

.wave2 {
  display: flex;
  margin-top: -90px;
  margin-left: 400px;
 }  

@media (min-width: 481px) and (max-width: 767px)  {
.wave2 {
  display: flex;
  margin-top: -90px;
  margin-left: 400px;
 }  
}

@media (max-width: 480px) {
  .wave2 {
    display: flex;
    margin-top: -90px;
    margin-left: 400px;
   }  
  }

.mission-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .mission-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
 }
}

@media (max-width: 480px) {
  .mission-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
 }
}

.mission{
  color: rgb(36, 120, 159); 
}

@media (min-width: 481px) and (max-width: 767px)  {
  .mission{
    color: rgb(36, 120, 159); 
  }
}

@media (max-width: 480px) {
  .mission{
    color: rgb(36, 120, 159); 
  }
}

.five{
  color: rgb(113, 119, 122);
  text-align: center;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .five{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 480px) {
  .five{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.about-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
  width: 1100px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .about-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
    width: 1100px;
  }
}

@media (max-width: 480px) {
  .about-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
    width: 1100px;
  }
}

.about{
  color: rgb(36, 120, 159); 
}

@media (min-width: 481px) and (max-width: 767px)  {
  .about{
    color: rgb(36, 120, 159); 
  }
}

@media (max-width: 480px) {
  .about{
    color: rgb(36, 120, 159); 
  }
}

.six{
  color: rgb(113, 119, 122);
  text-align: center;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 40px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .six{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .six{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
  }
}

.lindsey{
  position: absolute;
  margin-left: 1100px;
  margin-top: -550px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .lindsey{
    position: absolute;
    margin-left: 1100px;
    margin-top: -550px;
 }
}

@media (max-width: 480px) {
  .lindsey{
    position: absolute;
    margin-left: 1100px;
    margin-top: -550px;
 }
}

.signup-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.signup-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
 }
}

@media (max-width: 480px) {
  .signup-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
   }
  }

.signup{
  color: rgb(36, 120, 159); 
 }

@media (min-width: 481px) and (max-width: 767px)  {
.signup{
  color: rgb(36, 120, 159); 
 }
}

@media (max-width: 480px) {
  .signup{
    color: rgb(36, 120, 159); 
   }
  }

.form{
  margin-top: -70px ;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 100px;
  color: rgb(36, 120, 159); 
   }

@media (min-width: 481px)and (max-width: 767px)  {
.form{
margin-top: -70px ;
text-align: center;
font-size: 40px;
font-weight: 100;
margin-bottom: 100px;
color: rgb(36, 120, 159); 
 }
}

@media (max-width: 480px) {
  .form{
  margin-top: -70px ;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 100px;
  color: rgb(36, 120, 159); 
   }
  }
  

  
.logo2{
  display: flex;
  margin-top: 20px;
  margin-left: 1520px;
 }

@media (min-width: 481px) and (max-width: 767px)  {
.logo2{
  display: flex;
  margin-top: 20px;
  margin-left: 1520px;
 }
}

@media (max-width: 480px) {
  .logo2{
    display: flex;
    margin-top: 20px;
    margin-left: 1520px;
   }
  }

.address{
  display: flex;
  margin-top: -5px;
  margin-left: 1550px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
 }

@media (min-width: 481px) and (max-width: 767px)  {
.address{
  display: flex;
  margin-top: -5px;
  margin-left: 1550px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
 }
}

@media (max-width: 480px) {
  .address{
    display: flex;
    margin-top: -5px;
    margin-left: 1550px;
    text-align: center;
    line-height: 30px;
    color: rgb(255, 255, 255);
   }
  }

.store-info {
  display: flex;
  margin-top: -250px;
  margin-left: 150px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
 } 

@media (min-width: 481px) and (max-width: 767px)  {
.store-info {
  display: flex;
  margin-top: -250px;
  margin-left: 150px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
 } 
}

@media (max-width: 480px) {
  .store-info {
    display: flex;
    margin-top: -250px;
    margin-left: 150px;
    text-align: center;
    line-height: 40px;
    color: rgb(255, 255, 255);
   } 
  }