/* Place CSS styles here */
.header {
  background-color: #ffffff;
    display: flex;
    align-items: left;
    height: 80px;
    margin-left: 20px;
    justify-content: space-between;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .header {
    display: flex;
    align-items: center;
  }
}

.header2 {
  display: flex;
  margin-top: -70px;
  margin-right: 50px;
  margin-bottom: 20px;
  justify-content: right;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .header2 {
    display: flex;
    justify-content: right;
  }
}

/* Style the links inside the navigation bar */
.header2 a {
  display: block;
  color: rgb(36, 120, 159);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:Arial;
}

/* Change the color of links on hover */
.header2 a:hover {
  color: rgb(22, 76, 100);;
}

/* Add an active class to highlight the current page */
.header2 a.active {
  color:rgb(30, 98, 130);;
}


body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial; 
}

@media (max-width: 300px) and (max-width: 767px)  {
  body {
    background-color: #ffffff;
  }
}
  
  
  h1 {
    font-size: 80px;
    text-transform: uppercase;
  }

  @media (max-width: 300px) and (max-width: 767px)  {
  h1 {
    font-size: 80px;
    text-transform: uppercase;
  }
}

h2{
  font-family: Arial;
  display: flex;
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 300px) and (max-width: 767px)  {
h2{
  font-family: Arial;
  display: flex;
  font-weight: 400;
  font-size: 20px;
 }
}


h3 {
  display: flex;
  font-size: 70px;
  justify-content: center;
}

@media (max-width: 300px) and (max-width: 767px)  {
h3 {
  display: flex;
  font-size: 70px;
  justify-content: center;
 }
}

h4{
  display: flex;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 300px) and (max-width: 767px)  {
h4{
  display: flex;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
  text-transform: uppercase;
 }
}

.hero-text {
  margin-top: -500px;
  margin-left: 250px;
  color: rgb(199, 250, 246);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.hero-text {
  margin-top: -500px;
  margin-left: 250px;
  color: rgb(199, 250, 246);
 }
}

.jewelry-wrapper { 
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 1080px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 300px) and (max-width: 767px)  {
.jewelry-wrapper { 
  align-items: center;
  display: flex;
  height: 1080px;
  flex-direction: column;
  justify-content: space-between;
  }
}
  .container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto; margin-left: 25px; margin-right: 25px;
  gap: 50px;
  }
  
  @media (max-width: 300px) and (max-width: 767px)  {
  .container { display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  }
}

.baby-turtle{
  margin-left: -700px;
  margin-top: 372px;
 } 

@media (max-width: 300px) and (max-width: 767px)  {
.baby-turtle{
  margin-left: -700px;
  margin-top: 372px;
 } 
}

.star1{
  margin-left: -230px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.star1{
  margin-left: -230px;
 }
}

.tmbn {
  margin-left: -670px;
  color: rgb(36, 120, 159);
  }

@media (max-width: 300px) and (max-width: 767px)  {
.tmbn {
 margin-left: -670px;
 color: rgb(36, 120, 159);
 }
}

.one {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: -390px;
  color: black;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.one {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: -390px;
  color: black;
 }
}

.wave{
  margin-left: -200px;
  margin-top: 166px; 
 } 

@media (max-width: 300px) and (max-width: 767px)  {
.wave{
  margin-left: -200px;
  margin-top: 166px; 
 } 
}

.star2{
  margin-left: -200px;
  margin-bottom: -40px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.star2{
  margin-left: -200px;
  margin-bottom: -40px;
 }
}

.gwb {
  margin-left: -110px;
  margin-top: 60px;
  color: rgb(36, 120, 159);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.gwb {
  margin-left: -110px;
  margin-top: 60px;
  color: rgb(36, 120, 159);
 }
}

.two {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  color: black;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.two {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  color: black;
 }
}

.bracelet{
  margin-left: 30px;
  margin-top: 160px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.bracelet{
  margin-left: 30px;
  margin-top: 160px;
 }
}

.star3{
  margin-left: -235px;
  margin-bottom: -48px;
 }
 
@media (max-width: 300px) and (max-width: 767px)  {
.star3{
  margin-left: -235px;
  margin-bottom: -48px;
 }
}

.bcc {
  margin-left: 60px;
  margin-top: 70px;
  color: rgb(36, 120, 159);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.bcc {
  margin-left: 60px;
  margin-top: 70px;
  color: rgb(36, 120, 159);
 }
}

.three {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  color: black;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.three {
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  color: black;
 }
}

.ad-wrapper { 
  position: absolute;
  display: flex;
  background: rgb(36, 120, 159);
  flex-direction: column;
  margin-left: 470px;
  margin-bottom: -200px ;
  width: 600px ;
  height: 800px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.ad-wrapper { 
  position: absolute;
  display: flex;
  background: rgb(36, 120, 159);
  flex-direction: column;
  margin-left: 470px;
  margin-bottom: -200px ;
  width: 600px ;
  height: 800px;
 }
}

.ad{
  color: rgb(208, 242, 255);
  margin-top: -20px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.ad{
  color: rgb(208, 242, 255);
  margin-top: -20px;
 }
}

.four{
  font-family: Arial;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

@media (max-width: 300px) and (max-width: 767px)  {
.four{
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
 }
}

.slogan-wrapper {
  position: absolute;
  display: flex;
  background: rgb(228, 228, 228);
  flex-direction: column;
  height: 80px;
  width: 1870px;
  margin-top: 970px;
  margin-left: -800px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.slogan-wrapper {
  position: absolute;
  display: flex;
  background: rgb(228, 228, 228);
  flex-direction: column;
  height: 80px;
  width: 1870px;
  margin-top: 970px;
  margin-left: -800px;
 }
}

.slogan-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.slogan-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
 }
}

.blue{
  margin-top: -50px;
  margin-left: 400px;
  color:rgb(74, 143, 183);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.blue{
  margin-top: -50px;
  margin-left: 400px;
  color:rgb(74, 143, 183);
 }
}

.wave1 {
  display: flex;
  transform: scaleX(-1);
  margin-top: 10px;
  margin-left: 570px;
  margin-right: -370px;
 }

@media (max-width: 300px) and (max-width: 767px)  { 
.wave1 {
  display: flex;
  transform: scaleX(-1);
  margin-top: 10px;
  margin-left: 570px;
  margin-right: -370px;
 }
}

.wave2 {
  display: flex;
  margin-top: -90px;
  margin-left: 400px;
 }  

@media (max-width: 300px) and (max-width: 767px)  {
.wave2 {
  display: flex;
  margin-top: -90px;
  margin-left: 400px;
 }  
}

.mission-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .mission-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
 }
}

.mission{
  color: rgb(36, 120, 159); 
}

@media (max-width: 300px) and (max-width: 767px)  {
  .mission{
    color: rgb(36, 120, 159); 
  }
}

.five{
  color: rgb(113, 119, 122);
  text-align: center;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .five{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.about-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
  width: 1100px;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .about-wrapper {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    height: 600px;
    width: 1100px;
  }
}

@media (max-width: 300px) and (max-width: 767px)  {
  .about{
    color: rgb(36, 120, 159); 
  }
}

.about{
  color: rgb(36, 120, 159); 
}

.six{
  color: rgb(113, 119, 122);
  text-align: center;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 40px;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .six{
    color: rgb(113, 119, 122);
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
  }
}

.lindsey{
  position: absolute;
  margin-left: 1100px;
  margin-top: -550px;
}

@media (max-width: 300px) and (max-width: 767px)  {
  .lindsey{
    position: absolute;
    margin-left: 1100px;
    margin-top: -550px;
 }
}

.signup-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.signup-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  height: 600px;
 }
}

.signup{
  color: rgb(36, 120, 159); 
 }

@media (max-width: 300px) and (max-width: 767px)  {
.signup{
  color: rgb(36, 120, 159); 
 }
}

.form{
  margin-top: -70px ;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 100px;
  color: rgb(36, 120, 159); 
   }

@media (max-width: 300px) and (max-width: 767px)  {
.form{
margin-top: -70px ;
text-align: center;
font-size: 40px;
font-weight: 100;
margin-bottom: 100px;
color: rgb(36, 120, 159); 
 }
}

.footer {
  position: absolute;
  margin-bottom: -350px;
  height: 270px;
  width: 1855px;
  background-color: rgb(129, 189, 182);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.footer {
  position: absolute;
  margin-bottom: -350px;
  height: 270px;
  width: 1855px;
  background-color: rgb(129, 189, 182);
 }
}

.footer2 {
  position: absolute;
  margin-bottom: -350px;
  height: 270px;
  width: 1855px;
  margin-left: -80px;
  background-color: rgb(129, 189, 182);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.footer2 {
  position: absolute;
  margin-bottom: -350px;
  height: 270px;
  width: 1855px;
  margin-left: -80px;
  background-color: rgb(129, 189, 182);
 }
}

.logo2{
  display: flex;
  margin-top: 20px;
  margin-left: 1520px;
 }

@media (max-width: 300px) and (max-width: 767px)  {
.logo2{
  display: flex;
  margin-top: 20px;
  margin-left: 1520px;
 }
}

.address{
  display: flex;
  margin-top: -5px;
  margin-left: 1550px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
 }

@media (max-width: 300px) and (max-width: 767px)  {
.address{
  display: flex;
  margin-top: -5px;
  margin-left: 1550px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
 }
}

.store-info {
  display: flex;
  margin-top: -250px;
  margin-left: 150px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
 } 

@media (max-width: 300px) and (max-width: 767px)  {
.store-info {
  display: flex;
  margin-top: -250px;
  margin-left: 150px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
 } 
}