/* Place CSS styles here */
.header {
  background-color: #ffffff;
    display: flex;
    align-items: left;
    height: 80px;
    margin-left: 20px;
    justify-content: space-between;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    align-items: center;
  }
}

.header2 {
  display: flex;
  margin-top: -70px;
  margin-right: 50px;
  margin-bottom: 20px;
  justify-content: right;
}

@media (max-width: 480px) {
  .header2 {
    display: flex;
    justify-content: right;
  }
}

/* Style the links inside the navigation bar */
.header2 a {
  display: block;
  color: rgb(36, 120, 159);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:Arial;
}

/* Change the color of links on hover */
.header2 a:hover {
  color: rgb(22, 76, 100);;
}

/* Add an active class to highlight the current page */
.header2 a.active {
  color:rgb(30, 98, 130);;
}


body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial; 
}

@media (max-width: 480px) {
  body {
    background-color: #ffffff;
  }
}

  .top.image {
    position: absolute;
  }

  @media (max-width: 480px) {
    .top.image {
      position: absolute;
    }
  }

  /*@media (min-width: 480px) {*/ 
    .top.image {
      position: absolute;
    }
  
  
  
  h1 {
    font-weight: 500;
    font-size: 80px;
    margin-top: -450px;
    margin-left: 400px;
    color: white;
    text-transform: uppercase;
  }

  @media (max-width: 480px) {
  h1 {
    font-weight: 500;
    font-size: 30px;
    color: rgb(244, 74, 74);
    text-transform: uppercase;
  }
}